/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900 */

.playfair-display- {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}


.roboto {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
   
    font-variation-settings:
      "wdth" 100;
  }
  
.playwrite{
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;

}
  

.smooch-sans{
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
   
}
  


  .lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
  }
  /* https://codepen.io/KACTOPKA/pen/qBMeKeQ */


  /* gallery https://codepen.io/fimion/pen/YzBWzaQ */


  /* picture cards https://codepen.io/sanketbodke/pen/zYzvmeQ */


  /* card with rotate and image https://codepen.io/designfenix/pen/RwKPapa */

/* multiple sliders https://codepen.io/Devendra-Singh-the-sans/pen/MYwrbLd */


/* ROUND IMAGE with animation https://codepen.io/Lakshanaapriyavijay/pen/abQavyG */

  /* Royal Nursing College shares its mission with other nursing training colleges'
            world wide a commitment to the provision of quality health care service to all persoons.
            It aspires to be a community characterized by free inquiry,dicipline,God fearing and academic integrity.
            This will be achieved through the provision of academically rigorious,culturally and contextually
            relevant academic programs which will train students for moral uprightness,professional excellence,and responsible global citizenship. */



